<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li class="active" role="presentation">
            <a aria-controls="home" data-toggle="tab" href="#home" role="tab">
                Home
            </a>
        </li>
        <!-- Edit String Int Tab -->
        <li role="presentation">
            <a
                aria-controls="editStringInt" data-toggle="tab"
                href="#editStringInt"
                role="tab"
            >
                Edit String Int
            </a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a
                aria-controls="editSetting" data-toggle="tab"
                href="#editSetting"
                role="tab"
            >Edit Settings
            </a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home Tab -->
        <div class="tab-pane active" id="home" role="tabpanel">
            <h1 class="text-center">Tutorial Plugin</h1>
            <p>Angular2 Lazy Loaded Module</p>
            <p>This is the root of the admin app for the Tutorial plugin</p>
        </div>
        <!-- Edit String Int Tab -->
        <div class="tab-pane" id="editStringInt" role="tabpanel">
            <pl-tutorial-edit-string-int></pl-tutorial-edit-string-int>
        </div>
        <!-- Edit Settings Tab -->
        <div class="tab-pane" id="editSetting" role="tabpanel">
            <pl-tutorial-edit-setting></pl-tutorial-edit-setting>
        </div>
    </div>
</div>
`
